@{char[,] dat = (char[,])ViewData["Message"]; }


<br />
<div>
    <table width="80%" cellpadding="5">
        <tr>
            <th width="3000">
                @{ 
                    int width = 1500;
                    int height = 700;
                }
                <svg height="@height" wight="@width" viewBox="0 0 1500 700" xmlns="http://www.w3.org/2000/svg">
                    @{ Dictionary<string, string> colors = new Dictionary<string, string>(4);
                        colors.Add("Red", "255, 0, 0");
                        colors.Add("Green", "0, 128, 0");
                        colors.Add("Blue", "0, 0, 255");
                        colors.Add("Yellow", "255, 255, 0");
                        colors.Add("White", "255, 255, 255");
                        colors.Add("Black", "0, 0, 0");

                        int x = 0, y = 0;
                        int deltaX;
                        if (dat.GetLength(0) > dat.GetLength(1))
                        {
                            deltaX = width / dat.GetLength(0);
                        }
                        else
                        {
                            deltaX = height / dat.GetLength(1);
                        }
                        
                        int SizeSqXY = deltaX;

                        for (int k = 0; k < dat.GetLength(1); k++)
                        {
                            for (int i = 0; i < dat.GetLength(0); i++)
                            {
                                char item = dat[i, k];
                                switch (item)
                                {
                                    case '1':
                                        <rect x="@x" y="@y" width="@SizeSqXY" height="@SizeSqXY" fill="rgb(@colors["Black"])" />
                                        break;
                                    case 'R':
                                        <rect x="@x" y="@y" width="@SizeSqXY" height="@SizeSqXY" fill="rgb(@colors["Red"])" />
                                        break;
                                    case 'G':
                                        <rect x="@x" y="@y" width="@SizeSqXY" height="@SizeSqXY" fill="rgb(@colors["Green"])" />
                                        break;
                                    case 'B':
                                        <rect x="@x" y="@y" width="@SizeSqXY" height="@SizeSqXY" fill="rgb(@colors["Blue"])" />
                                        break;
                                    case 'Y':
                                        <rect x="@x" y="@y" width="@SizeSqXY" height="@SizeSqXY" fill="rgb(@colors["White"])" />
                                        break;
                                    default:
                                        <rect x="@x" y="@y" width="@SizeSqXY" height="@SizeSqXY" fill="rgb(@colors["Yellow"])" />
                                        break;

                                }
                                x += deltaX;
                            }
                            x = 0;
                            y += deltaX;
                        }
                    }
                </svg>
            </th>
            <th>
                <form method="post" asp-action="CustomUsersPage" >
                    <label>Строка правила</label><br />
                    <input type="text" name="Rule" value="@ViewData["Rule"]" /><br />
                    <label>Строка кадра</label><br />
                    <input type="text" name="Frame" value="@ViewData["Frame"]" /><br />
                    <input type="submit" value="Отправить" />
                </form>
            </th>
        </tr>
    </table>
</div>